.aside-menu{
    max-width: 160px;
    position: fixed;
    left: 0;
    padding: 25px 30px 25px 15px;
    height: 80vh;
    &__item{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        padding: 10px 0;
    }
    &__svg{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
    }
}