
.section + .section{
    margin-top: 100px;
}
.first-section{
    &__container{
        @include container;
    }
    &__content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 56px;
    }
    &__text{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    &__heading{
        color: $heading-col;
        font-size: 2.75rem;
        display: flex;
        line-height: 3.375rem;
    }
    &__paragraph{
        display: flex;
        font-size: 1.125rem;
        font-weight: 400;
    }
    &__heading+&__paragraph{
        margin: 30px 0 20px;
    }
    &__button{
        @include button;
        text-align: left;
    }
}
.second-section{
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    &__container{
        @include container;
    }
    &__heading{
        @include headings-h2;
        text-align: center;
        max-width: 539px;
        margin: 0 auto 30px;
       
    }
    &__cards{
        display: flex;
        flex-direction: row;
        gap: 40px;
        
    }
    &__button{
        @include button;
        padding: 13px 30px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    &__end{
        padding-bottom: 74px
    }
}
.card{
    &__heading{
        @include headings-h3;
        padding: 30px 0 16px;
    }
    &__text{
        padding-bottom: 70px;
    }
}
.third-section{
    &__container{
        @include container;
    }
    &__content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        gap: 113px;
        &--fifth{
            gap: 174px;
        }
    }
    &__image{
        max-width: 562px;
        max-height: 573px;
        &--fifth{
            display: contents;
        }
    }
    &__text{
        max-height: 532px
    }
    &__heading{
        @include headings-h2;
    }
    &__subtitle{
        font-weight: 700;
    }
    &__heading+&__text{
        padding-top: 20px;
    }
    &__text+&__subtitle{
        padding-top: 30px;
    }
    &__subtitle+&__text{
        padding-top: 10px;
    }

}
.fourth-section{
    &__container{
        @include container;
    }
    &__content{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        
    }
    &__image{
        max-width: 562px;
        max-height: 573px;
    }
    &__text{
        max-height: 424px;
        max-width: 505px;
    }
    &__paragraph{
        display: flex;
        align-items: center
    }
    &__heading{
        @include headings-h2;
    }
    &__heading+&__text{
        padding-top: 20px;
    }
    &__text+&__paragraph{
        padding-top: 40px;
    }
    &__paragraph+&__paragraph{
        padding-top: 30px;
    }
}
.checked{
    margin-right: 30px;
    display: inline-block;
    min-width: 35px;
    min-height: 35px;
}