.header{
    display: flex;
    align-items: center;
    align-content: flex-start;
    justify-content: start;
    height: 100px;
    padding: 40px 0;
    &__container{
        @include container;
        width: 100%;
    }
}