.second-section{
    @include section;
    @media screen and (max-width:$laptop) {
        padding-top: 90px;
    }
    &__container{
        @include container;
    }
    &__wrapper{
        max-width: 570px;
    }
    &__text{
        &--noPadding{
            padding-top: 0;
        }
    }
}