*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  font-size: 16px;
}

.text {
  font-family: "Lato", sans-serif;
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.05em;
  text-align: left;
  color: #565656;
  padding-top: 20px;
}
@media screen and (max-width: 576px) {
  .text {
    font-size: 1rem;
  }
}

.heading {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2.875rem;
  letter-spacing: 0.1em;
  text-align: left;
  color: #000;
  padding-bottom: 50px;
}
@media screen and (max-width: 576px) {
  .heading {
    font-size: 1.625rem;
  }
}

.image {
  max-width: 1170px;
  max-height: 500px;
  width: 100%;
  min-height: 300px;
}

.header {
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: start;
  height: 100px;
  padding: 40px 0;
}
.header__container {
  max-width: 81.25%;
  margin: 0 auto;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .header__container {
    max-width: 91.1458333333%;
  }
}
@media screen and (max-width: 576px) {
  .header__container {
    max-width: 93.75%;
  }
}

.first-section {
  /* &__image{
     @include images;
      @media screen and(max-width:$phone) {
          min-height: 300px;
      }
  } */
}
.first-section__container {
  max-width: 81.25%;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .first-section__container {
    max-width: 91.1458333333%;
  }
}
@media screen and (max-width: 576px) {
  .first-section__container {
    max-width: 93.75%;
  }
}
.first-section__title {
  font-family: "Red Hat Display", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 4rem;
  letter-spacing: 0.05em;
  text-align: left;
  color: #000;
  padding-bottom: 70px;
}
@media screen and (max-width: 1024px) {
  .first-section__title {
    font-size: 2.0625rem;
    line-height: 3.125rem;
  }
}
@media screen and (max-width: 576px) {
  .first-section__title {
    font-size: 1.875rem;
    letter-spacing: 0;
  }
}

.second-section {
  padding-top: 90px;
}
@media screen and (max-width: 1024px) {
  .second-section {
    padding-top: 70px;
  }
}
.second-section__container {
  max-width: 81.25%;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .second-section__container {
    max-width: 91.1458333333%;
  }
}
@media screen and (max-width: 576px) {
  .second-section__container {
    max-width: 93.75%;
  }
}
.second-section__wrapper {
  max-width: 570px;
}
.second-section__text--noPadding {
  padding-top: 0;
}

.third-section {
  padding-top: 90px;
}
@media screen and (max-width: 1024px) {
  .third-section {
    padding-top: 70px;
  }
}
.third-section__container {
  max-width: 81.25%;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .third-section__container {
    max-width: 91.1458333333%;
  }
}
@media screen and (max-width: 576px) {
  .third-section__container {
    max-width: 93.75%;
  }
}
.third-section__heading {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2.875rem;
  letter-spacing: 0.1em;
  text-align: left;
  color: #000;
  padding-bottom: 50px;
}
@media screen and (max-width: 576px) {
  .third-section__heading {
    font-size: 1.625rem;
  }
}

.fourth-section {
  padding-top: 90px;
}
@media screen and (max-width: 1024px) {
  .fourth-section {
    padding-top: 70px;
  }
}
.fourth-section__container {
  max-width: 81.25%;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .fourth-section__container {
    max-width: 91.1458333333%;
  }
}
@media screen and (max-width: 576px) {
  .fourth-section__container {
    max-width: 93.75%;
  }
}

.fifth-section {
  padding-top: 90px;
  padding-bottom: 90px;
}
@media screen and (max-width: 1024px) {
  .fifth-section {
    padding-top: 70px;
  }
}
.fifth-section__container {
  max-width: 81.25%;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .fifth-section__container {
    max-width: 91.1458333333%;
  }
}
@media screen and (max-width: 576px) {
  .fifth-section__container {
    max-width: 93.75%;
  }
}

.footer {
  padding-top: 70px;
  background-color: #F4F4F4;
}
.footer__container {
  max-width: 81.25%;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .footer__container {
    max-width: 91.1458333333%;
  }
}
@media screen and (max-width: 576px) {
  .footer__container {
    max-width: 93.75%;
  }
}
@media screen and (max-width: 1024px) {
  .footer__container {
    max-width: 700px;
  }
}
@media screen and (max-width: 576px) {
  .footer__container {
    max-width: 300px;
  }
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .footer__content {
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }
}
.footer__paragraph {
  color: #000;
}
.footer__paragraph--title {
  font-family: "Red Hat Display", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 4rem;
  letter-spacing: 0.05em;
  text-align: left;
}
@media screen and (max-width: 576px) {
  .footer__paragraph--title {
    font-size: 2rem;
    line-height: 2.625rem;
    text-align: center;
  }
}
.footer__paragraph + .footer__paragraph {
  padding-top: 14px;
}
.footer__paragraph--title + .footer__paragraph {
  padding-top: 30px;
}
.footer__socials {
  display: flex;
  gap: 20px;
}
.footer__end {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
  font-family: "Lato", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.1em;
  text-align: left;
}
@media screen and (max-width: 1024px) {
  .footer__end {
    padding-top: 40px;
  }
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #565656;
}
.social-link__svg {
  fill: #565656;
}

.social-link:hover {
  background-color: #565656;
}

.social-link:hover .social-link__svg {
  fill: #fff;
}/*# sourceMappingURL=style.css.map */