$desktop:1440px;
$laptop:1026px;
$tablet:815px;
$phone:580px;

$white:#fff;
$black:#000;
$blue:#5373FD;
$text-gray:#999999;
$dark-gray:#333333;
$book-bg:rgba(35, 35, 35, 0.9);;


$Aleo: 'Aleo', serif;
$Josefin:'Josefin Sans', sans-serif;