/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: aliceblue;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.block{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 50px;
}
.wrapper{
    position: relative;
    border-radius: 15px;
    padding: 0 30px;
    width: 200px;
    height: 300px;
}
.image{
    width: 200px;
    height: 300px;
    border-radius: 15px;
}
.backside,
.frontside{
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s linear;
    backface-visibility: hidden;
}

.wrapper-perspective{
    perspective: 600px;
}

.frontside{
    transform: rotateY(-180deg);
}

.wrapper:hover .backside{
    transform: rotateY(180deg);
}
.wrapper:hover .frontside{
    transform: rotateY(0deg);
} */