*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #fff;
}

body{
    font-size: 18px;
    color:#2F281E;
}

header{
    background-color: #fff;
}

a{
    text-decoration: none;
    color:#2F281E;
}

a:hover{
    color:#FF9900;
}

ul,
ol{
    list-style: none;
    padding-left: 200px;
    padding-right: 200px;
    
}

li{
    display: inline-block;
    padding: 0 20px 0 0;
}

li:nth-child(4){
    padding-right: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.head{
    display: inline-block;
    padding: 13px 0;
}

.logo{
    vertical-align: middle;
    display: inline-block;
}

.navigation{
    vertical-align: middle;
    display: inline-block;
}

.button{
    font-weight: 600;
    max-width: 110px;
    border-radius: 4px;
    padding: 13px 25px;
    vertical-align: middle;
}

.in{
    border: 1px solid #BCD0E5;
    margin-right: 32px;
    background-color: #fff;
}

.up{
    border: none;
    background-color: #FF9900;
    color: #fff;
}


.container-first-screen{
    max-width: 500px;
}

.section{
    margin-top: 70px;
}

.two{
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 75px;
    background-image: url(../../images/sec-2-bg.png);
    background-repeat: no-repeat;
    background-position:center bottom;
    background-size: 100%;
}

.picture{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

h1{
    font-size: 44px;
}

h1 + p{
    padding-top: 30px;
}

p + button{
    margin-top: 20px;
}

.get-started{
    font-weight: 700;
    padding: 13px 40px;
    color: #fff;
    background-color: #FF9900;
    border: none;
    border-radius: 4px;
}

p{
    color:#544837;
}

.people{
    padding-left: 35px;
}

.caption-sec2{
    text-align: center;
    font-size: 36px;
    max-width: 450px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.tools-block{
    display: flex;
    justify-content: space-between;
}

.tools{
    max-width: 270px;
    justify-content: flex-start;   
}

.icons{
    padding-bottom: 30px;
}

h3 + p{
    padding-top: 16px;
    padding-bottom: 70px;
}

.now{ 
    margin: 0 auto;
    display: block;
}

.footer{
    border-top: 1px solid #BCD0E57F;
    padding: 70px 0;
}

.foot-flex{
    display: flex;
    justify-content: space-between;
}

.list{
    padding: 0;
}

.foot-b{
    display: block;
    margin-top: 25px;
}

.phone{
    margin-top: 25px;
    display: block;
}

.foot-links{
    max-width: 135px;
}

div.foot{
    max-width: 340px;
}

.block{
    font-weight: 500;
    color: #544837;
    display: block;
    padding-bottom: 15px;
}

a.color{
    
font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0px;
text-align: left;

    color: #544837;
}

a.color:hover{
    color: #544837;
}

.one{
    padding-top: 30px;
}

li.block{
    padding-right: 0;
}

input[type="tel"]{
    max-width: 340px;
    width: 100%;
    padding: 15px 10px;
    color:#BCD0E5;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
}

::placeholder{
    color: #BCD0E5;
}
