.section-gallery{
    padding: 150px 0;
    
    background-color: $white;
    &__container{
        @include container;
    }
    &__line{
        width: 100px;
        border-top: 1px solid $main-text;
        margin: 0 auto;
        
        padding-bottom: 30px;
    }
    &__title{
        @include titles;
        text-align: center;
        padding-bottom: 90px;
    }
    &__see-more{
        margin: 0 auto;
    }
}
.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 60px;
    &__left{
        max-width: 580px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &:hover .gallery__loop{
            opacity: 1;
        }
    }
    
    &__right{
        display: flex;
        flex-direction: column;
        gap: 10px;
        &-top{
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
            &-icon{
                position: relative;
                &--left{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                
                &:hover .gallery__loop{
                    opacity: 1;
                }
                }
                &--right{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover .gallery__loop{
                        opacity: 1;
                    }
                }
            }
        }
        &-bottom{
            display: flex;
            gap: 10px;
            align-items: center;
            
            justify-content: center;
            &-icon{
                position: relative;
                &--left{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                
                &:hover .gallery__loop{
                    opacity: 1;
                }
                }
                &--right{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover .gallery__loop{
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__loop{
        position: absolute;
        opacity: 0;
        transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
        -o-transition: all .3s linear;
}
}