$white : #fff;
$black: #000;
$main-text: #2C4058;
$news-text: #55B7FF;
$placeholder-text: #4B5562;
$purple: #7E5AFF;

$Montserrat: 'Montserrat', sans-serif;
$OpenSans: 'Open Sans', sans-serif;
$SansPro: 'Source Sans Pro', sans-serif;