$Lato: 'Lato', sans-serif;
$Red-hat: 'Red Hat Display', sans-serif;
$black:#000;
$dark-gray:#565656;
$gray:#7B7B7B;
$white:#fff;
$footer-bg:#F4F4F4;

$laptop:1170px;
$mini:769px;
$phone:650px;
$xs:320px
