*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-weight: 400;
}

ul,
ol {
  list-style: none;
} /* 
.body{
    display: flex;
    justify-content: center;
} */
.header {
  padding: 42px 0;
  max-height: 100px;
  background-color: #fff;
}
.header__container {
  max-width: 81.25%;
  margin: 0 auto;
}
@media screen and (max-width: 769px) {
  .header__container {
    max-width: 700px;
  }
}
@media screen and (max-width: 650px) {
  .header__container {
    max-width: 300px;
  }
}
@media screen and (max-width: 650px) {
  .header__container {
    max-width: 300px;
  }
}
.header__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  max-width: 142px;
  max-height: 12px;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 84px;
}
@media screen and (max-width: 1170px) {
  .menu {
    gap: 40px;
  }
}
.menu__list {
  display: flex;
  justify-content: space-between;
  gap: 42px;
}
@media screen and (max-width: 1170px) {
  .menu__list {
    display: none;
  }
}
.menu__item {
  position: relative;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  letter-spacing: 0.3em;
  text-align: left;
  text-transform: uppercase;
}
.menu__item--home::after {
  content: "";
  display: none;
  position: absolute;
  left: 8px;
  bottom: -5px;
  width: 40px;
  height: 1px;
  background-color: #000;
}
.menu__item--about::after {
  content: "";
  display: none;
  position: absolute;
  left: 13px;
  bottom: -5px;
  width: 40px;
  height: 1px;
  background-color: #000;
}
.menu__item--works::after {
  content: "";
  display: none;
  position: absolute;
  left: 15px;
  bottom: -5px;
  width: 40px;
  height: 1px;
  background-color: #000;
}
.menu__item--blog::after {
  content: "";
  display: none;
  position: absolute;
  left: 5px;
  bottom: -5px;
  width: 40px;
  height: 1px;
  background-color: #000;
}
.menu__item--contact::after {
  content: "";
  display: none;
  position: absolute;
  left: 25px;
  bottom: -5px;
  width: 40px;
  height: 1px;
  background-color: #000;
}
.menu__item--home:hover::after {
  display: block;
}
.menu__item--about:hover::after {
  display: block;
}
.menu__item--works:hover::after {
  display: block;
}
.menu__item--blog:hover::after {
  display: block;
}
.menu__item--contact:hover::after {
  display: block;
}
.menu__link {
  text-decoration: none;
  color: #000;
}
.menu__search {
  display: inline-block;
  position: relative;
}
.menu__input {
  position: absolute;
  left: 0;
  opacity: 0;
  max-width: 100px;
  border: none;
  border-bottom: 1px solid #000;
  transition: all 0.5s linear;
}
.menu__loop {
  position: absolute;
  max-width: 17px;
  max-height: 16px;
  transition: all 0.5s linear;
}
.menu__search:hover .menu__input {
  transform: translateX(-100px);
  opacity: 1;
}
.menu__burger {
  display: none;
}
@media screen and (max-width: 1170px) {
  .menu__burger {
    display: block;
  }
}

.section-first {
  display: flex;
  justify-content: flex-start;
  position: relative;
}
.section-first__bg {
  background-image: url(../images/bg-image.png);
  background-repeat: no-repeat;
  background-position: top;
  /* max-width: 1440px; */
  width: 100%;
  height: 600px;
  background-size: cover;
  margin: 0 auto;
}
@media screen and (max-width: 1170px) {
  .section-first__bg {
    height: 320px;
  }
}
@media screen and (max-width: 650px) {
  .section-first__bg {
    height: 500px;
  }
}
.section-first__container {
  max-width: 81.25%;
  margin: 0 auto;
}
@media screen and (max-width: 769px) {
  .section-first__container {
    max-width: 700px;
  }
}
@media screen and (max-width: 650px) {
  .section-first__container {
    max-width: 300px;
  }
}
@media screen and (max-width: 1170px) {
  .section-first__container {
    max-width: 700px;
  }
}
@media screen and (max-width: 650px) {
  .section-first__container {
    max-width: 300px;
  }
}
.section-first__content {
  position: relative;
}
.section-first__title {
  position: absolute;
  top: 100px;
  font-family: "Red Hat Display", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 4rem;
  letter-spacing: 0.05em;
  text-align: left;
  max-width: 770px;
  color: #000;
}
@media screen and (max-width: 1170px) {
  .section-first__title {
    top: 30px;
    font-size: 2.25rem;
    line-height: 3.125rem;
  }
}
@media screen and (max-width: 650px) {
  .section-first__title {
    top: 70px;
  }
}

.section-blog {
  padding-top: 90px;
}
@media screen and (max-width: 1170px) {
  .section-blog {
    padding-top: 70px;
  }
}
.section-blog__container {
  max-width: 81.25%;
  margin: 0 auto;
}
@media screen and (max-width: 769px) {
  .section-blog__container {
    max-width: 700px;
  }
}
@media screen and (max-width: 650px) {
  .section-blog__container {
    max-width: 300px;
  }
}
@media screen and (max-width: 1170px) {
  .section-blog__container {
    max-width: 700px;
  }
}
@media screen and (max-width: 650px) {
  .section-blog__container {
    max-width: 300px;
  }
}
.section-blog__info {
  max-width: 448px;
}
@media screen and (max-width: 1170px) {
  .section-blog__image {
    max-width: 340px;
  }
}
@media screen and (max-width: 650px) {
  .section-blog__image {
    order: 2;
    max-width: 300px;
  }
}
.section-blog__title {
  font-family: "Red Hat Display", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 4rem;
  letter-spacing: 0.05em;
  text-align: left;
  padding-bottom: 50px;
}
@media screen and (max-width: 650px) {
  .section-blog__title {
    text-align: center;
  }
}
.section-blog__content {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}
.section-blog__content--right {
  justify-content: flex-end;
}
@media screen and (max-width: 1170px) {
  .section-blog__content {
    gap: 20px;
  }
}
@media screen and (max-width: 650px) {
  .section-blog__content {
    flex-direction: column;
  }
}
.section-blog__content + .section-blog__content {
  padding-top: 50px;
}
.section-blog__tag {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6875rem;
  letter-spacing: 0.1em;
  text-align: left;
  color: #7B7B7B;
  padding-bottom: 30px;
}
.section-blog__name {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.4375rem;
  font-weight: 500;
  line-height: 2.375rem;
  letter-spacing: 0.1em;
  text-align: left;
  color: #000;
  padding-bottom: 15px;
}
.section-blog__date {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6875rem;
  letter-spacing: 0.1em;
  text-align: left;
  color: #7B7B7B;
  padding-bottom: 50px;
}
@media screen and (max-width: 1170px) {
  .section-blog__date {
    padding-bottom: 40px;
  }
}
.section-blog__description {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6875rem;
  letter-spacing: 0.05em;
  text-align: left;
  color: #565656;
}

.read-more {
  position: relative;
  /* @media screen and (max-width: $phone){
      display: none;
  } */
}

.arrow {
  fill: #565656;
  transition: all 0.5s linear;
}
.arrow__text {
  opacity: 0;
  position: absolute;
  left: 0;
  width: 90px;
  color: #000;
  transition: all 0.5s linear;
}

.read-more:hover .arrow {
  transform: translateX(100px);
  fill: #000;
}

.read-more:hover .arrow__text {
  opacity: 1;
}

.section-latest {
  padding-top: 90px;
}
@media screen and (max-width: 1170px) {
  .section-latest {
    padding-top: 70px;
  }
}
.section-latest__container {
  max-width: 81.25%;
  margin: 0 auto;
}
@media screen and (max-width: 769px) {
  .section-latest__container {
    max-width: 700px;
  }
}
@media screen and (max-width: 650px) {
  .section-latest__container {
    max-width: 300px;
  }
}
@media screen and (max-width: 1170px) {
  .section-latest__container {
    max-width: 700px;
  }
}
@media screen and (max-width: 650px) {
  .section-latest__container {
    max-width: 300px;
  }
}
.section-latest__title {
  font-family: "Red Hat Display", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 4rem;
  letter-spacing: 0.05em;
  text-align: left;
  font-weight: 600;
}
@media screen and (max-width: 1170px) {
  .section-latest__title {
    font-size: 1.75rem;
    line-height: 2.875rem;
  }
}
.section-latest__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}
@media screen and (max-width: 650px) {
  .section-latest__heading {
    flex-direction: column;
    align-items: flex-start;
  }
}

.content {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
@media screen and (max-width: 1170px) {
  .content {
    flex-direction: column;
  }
}
@media screen and (max-width: 650px) {
  .content {
    flex-direction: column;
    align-items: flex-start;
  }
}

.view-all {
  color: #7B7B7B;
}
.view-all__arrow {
  fill: #7B7B7B;
}

.view-all:hover {
  color: #000;
}

.view-all:hover .view-all__arrow {
  fill: #000;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 1170px) {
  .block {
    flex-direction: row;
    gap: 20px;
  }
}
@media screen and (max-width: 650px) {
  .block {
    flex-direction: column;
  }
}
@media screen and (max-width: 1170px) {
  .block--reverse {
    flex-direction: row-reverse;
  }
}
@media screen and (max-width: 650px) {
  .block--reverse {
    flex-direction: column;
  }
}
@media screen and (max-width: 1170px) {
  .block__img {
    max-width: 340px;
  }
}
@media screen and (max-width: 650px) {
  .block__img {
    max-width: 300px;
  }
}
.block__sub {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 25px 0;
}
@media screen and (max-width: 1170px) {
  .block__sub {
    padding-top: 0;
  }
}
.block__date {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6875rem;
  letter-spacing: 0.1em;
  text-align: left;
  color: #7B7B7B;
}
.block__tag {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6875rem;
  letter-spacing: 0.1em;
  text-align: left;
  color: #7B7B7B;
}
.block__name {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.4375rem;
  font-weight: 500;
  line-height: 2.375rem;
  letter-spacing: 0.1em;
  text-align: left;
  color: #000;
  padding-bottom: 20px;
}
.block__description {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6875rem;
  letter-spacing: 0.05em;
  text-align: left;
  color: #565656;
}

.section-most-pop {
  padding-top: 90px;
}
@media screen and (max-width: 1170px) {
  .section-most-pop {
    padding-top: 70px;
  }
}
.section-most-pop__container {
  max-width: 81.25%;
  margin: 0 auto;
}
@media screen and (max-width: 769px) {
  .section-most-pop__container {
    max-width: 700px;
  }
}
@media screen and (max-width: 650px) {
  .section-most-pop__container {
    max-width: 300px;
  }
}
@media screen and (max-width: 1170px) {
  .section-most-pop__container {
    max-width: 700px;
  }
}
@media screen and (max-width: 650px) {
  .section-most-pop__container {
    max-width: 300px;
  }
}
.section-most-pop__title {
  font-family: "Red Hat Display", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 4rem;
  letter-spacing: 0.05em;
  text-align: left;
  font-weight: 600;
}
@media screen and (max-width: 1170px) {
  .section-most-pop__title {
    font-size: 1.75rem;
    line-height: 2.875rem;
  }
}
.section-most-pop__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}
@media screen and (max-width: 650px) {
  .section-most-pop__heading {
    flex-direction: column;
    align-items: flex-start;
  }
}
.section-most-pop__button {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.section-most-pop__button--link {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6875rem;
  letter-spacing: 0.1rem;
  text-align: left;
  padding: 10px 45px;
  background-color: #565656;
  color: #fff;
  border: none;
}
.section-most-pop__button--link:hover {
  background-color: #000;
}

.block--most {
  max-width: 570px;
}
@media screen and (max-width: 1170px) {
  .block--most {
    flex-direction: column;
  }
}

.content--most {
  justify-content: space-between;
}
@media screen and (max-width: 1170px) {
  .content--most {
    flex-direction: row;
  }
}
@media screen and (max-width: 650px) {
  .content--most {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 1170px) {
  .block__sub--most {
    padding: 0;
  }
}
@media screen and (max-width: 1170px) {
  .block__name--most {
    padding-bottom: 0;
  }
}

.info {
  padding: 90px 0;
}
@media screen and (max-width: 1170px) {
  .info {
    padding-top: 70px;
  }
}
.info__container {
  max-width: 81.25%;
  margin: 0 auto;
}
@media screen and (max-width: 769px) {
  .info__container {
    max-width: 700px;
  }
}
@media screen and (max-width: 650px) {
  .info__container {
    max-width: 300px;
  }
}
@media screen and (max-width: 1170px) {
  .info__container {
    max-width: 700px;
  }
}
@media screen and (max-width: 650px) {
  .info__container {
    max-width: 300px;
  }
}
.info__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 1170px) {
  .info__content {
    flex-direction: column;
    gap: 50px;
  }
}
.info__text {
  max-width: 470px;
}
@media screen and (max-width: 1170px) {
  .info__text {
    max-width: 700px;
  }
}
.info__text--left {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.4375rem;
  font-weight: 500;
  line-height: 2.375rem;
  letter-spacing: 0.1em;
  text-align: left;
  color: #000;
  font-weight: 400;
}
.info__text--right {
  font-family: "Lato", sans-serif;
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.05em;
  text-align: left;
  color: #7B7B7B;
}
@media screen and (max-width: 1170px) {
  .info__text--right {
    text-align: right;
  }
}
.info__paragraph + .info__paragraph {
  padding-top: 30px;
}

.read-more--info {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6875rem;
  letter-spacing: 0.1em;
  text-align: left;
  max-width: 90px;
  display: block;
}

.arrow__text {
  display: inline-block;
  width: 100px;
}
@media screen and (max-width: 1170px) {
  .arrow {
    display: block;
  }
}

.footer {
  padding-top: 70px;
  background-color: #F4F4F4;
}
@media screen and (max-width: 1170px) {
  .footer {
    padding-top: 50px;
  }
}
@media screen and (max-width: 650px) {
  .footer {
    padding-top: 50px;
  }
}
.footer__container {
  max-width: 81.25%;
  margin: 0 auto;
}
@media screen and (max-width: 769px) {
  .footer__container {
    max-width: 700px;
  }
}
@media screen and (max-width: 650px) {
  .footer__container {
    max-width: 300px;
  }
}
@media screen and (max-width: 1170px) {
  .footer__container {
    max-width: 700px;
  }
}
@media screen and (max-width: 650px) {
  .footer__container {
    max-width: 300px;
  }
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1170px) {
  .footer__content {
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }
}
.footer__paragraph {
  color: #000;
  font-family: "Lato", sans-serif;
}
@media screen and (max-width: 650px) {
  .footer__paragraph {
    font-size: 1.125rem;
    line-height: 1.875rem;
    text-align: center;
  }
}
.footer__paragraph--title {
  font-family: "Red Hat Display", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 4rem;
  letter-spacing: 0.05em;
  text-align: left;
}
@media screen and (max-width: 650px) {
  .footer__paragraph--title {
    font-size: 2rem;
    line-height: 2.625rem;
    text-align: center;
  }
}
.footer__paragraph + .footer__paragraph {
  padding-top: 15px;
}
.footer__paragraph--title + .footer__paragraph {
  padding-top: 30px;
}
.footer__socials {
  display: flex;
  gap: 20px;
}
.footer__end {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
  font-family: "Lato", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.1em;
  text-align: left;
}
@media screen and (max-width: 1170px) {
  .footer__end {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 650px) {
  .footer__end {
    font-size: 1rem;
    line-height: 1.6875rem;
    text-align: center;
  }
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid #565656;
}
.social-link__svg {
  fill: #565656;
}

.social-link:hover {
  background-color: #565656;
}

.social-link:hover .social-link__svg {
  fill: #fff;
}/*# sourceMappingURL=style.css.map */